.fa {
  transition: all .3s;
}
.fa:hover {
  transform: translate(0px, -3px);
  text-decoration: none;
}

.fa-facebook-square {
  color: lightgrey
}
.fa-facebook-square:hover {
  color: #404040;
}
.fa-linkedin-square {
  color: lightgrey
}
.fa-linkedin-square:hover {
  color: #404040;
}
.fa-github-square {
  color: lightgrey
}
.fa-github-square:hover {
  color: #404040;
}
.fa-github {
  color: lightgrey
}
.fa-github:hover {
  color: #404040;
}
.fa-gitlab {
  color: lightgrey
}
.fa-gitlab:hover {
  color: #404040;
}
.fa-envelope {
  color: lightgrey
}
.fa-envelope:hover {
  color: #404040;
}
